
.darkOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  top: 0
}

.sidebarContainer {
  float: right;
  width: 70%;
  height: 100%;
  background-color: #FFF;
}

.sidebarHeader {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #F2F2F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.sidebarClose {
  width: 7%;
  cursor: pointer;
}

.sidebarContent {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentHorizontalWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.contentLabel {
  font-weight: 600;
}

.logOut {
  color: rgb(225, 0, 0);
  cursor: pointer;
  font-weight: 800;
}

.trackStyle {
  height: 40px;
}

@media screen and (min-width: 550px) {
  .sidebarClose {
    width: 4%;
  }
}